ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 80vw;
    overflow: hidden;
    background-color:blue;
    alignment: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
p{
    width: 50vw;
}
div
{
    margin: auto;
    width: 80vw;
}